.hero{
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
    font-size: 30px;
    align-items: center;
}

h1{
    display: none;
}

.hero-image{
    display: none;
}

button{
    margin: 40px;
    padding: 20px;
    background-color: #8447E9;
    color: white;
    border: none
}

button:hover{
    background-color: white;
    color: #8446E9;
}

@media screen and (min-width:1024px) {
    .hero-image{
        display: flex;
        justify-content: flex-end;
    }

    img{
        width: 200px;
    }

    h1{
     display: block;
     margin-bottom: 40px;

    }

    .highlighted{
    color: #8447E9;
}

}
