
section-2{
 
    font-family: "Montserrat";
    font-weight: semibold;
    }

.section-2-background-colour{
        background-color: #8447e9;
    }

.title-section-2{
        font-size: 16;
        
    }

.text--cotainer{
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
