.first-title {
    display: none;
}
.first_section {
    display: flex;
    justify-content: center;
    padding: 100px 0px;
}
.first_general_container {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.container-program {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.image_program {
    width: 100px;
}
.second_title_first-section {
    color: #8447E9;
    font-family: "montserrat";
    font-weight: 400;
    font-size: 32px;
}
.link_first-section {
    color: #0f0f0f;
    font-family: "montserrat";
    font-weight: 400;
    font-size: 16px;
    display: inline-block;
    width: auto;
    white-space: nowrap;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #BDB0EC;
    text-underline-offset: 5px;
}
.container-marketing {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 30px;
}
.image_marketing {
    width: 100px;
}
.container-design {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 30px;
}
.image_design {
width: 100px;
}
.paragraph_first-section {
    display: none;
}
@media screen and (min-width: 900px) {
.first_section {
    padding-top: 100px;
}
.first-title {
    display: flex;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 40px;
    position: absolute;
    left: 90px;
    padding: 0px 200px;
}
.first_general_container {
    padding-top: 200px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 50px;
}
.container-program {
    width: 300px;
}
.container-marketing {
    width: 300px;
}
.container-design {
    width: 300px;
}
.paragraph_first-section {
    display: flex;
    color: #0f0f0f;
    font-family: "montserrat";
    font-weight: 300;
    letter-spacing: -0.8px;
    font-size: 16px;
    text-align: left;
}
}