.second_section {
    background-color: #8447e9;
    display: flex;
    flex-direction: column;
}

.container_second_section{
    display: flex;
    flex-direction: column;
}
.title-second_section {
    font-family: "Montserrat";
    font-size: 16px;
    margin-left: 85px;
    margin-top: 140px;
    margin-bottom: 50px;
    color: #f5f5f5;
}

.image--container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.image--container img {
    max-width: 100%;
    height: auto;
    display: block;
    padding-left: 30px;
    padding-right: 30px;
}


.text-container_second_section {
    font-family: "Montserrat";
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f5f5f5;
    margin-left: 50px;
    margin-right: 50px;
}

.text_second_section {
    font-size: 32px;
}

.text-branding {
    color: #bdb0ec
}

.button-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

button {
    font-size: 16px;
    background-color: #8447e9;
    color: #bdb0ec;
    border-color: #bdb0ec;
    padding: 25px;
 
}



@media screen and (min-width: 900px) {

    .container_second_section{
        display: flex;
        flex-direction: row;
    }
    .desktop-responsive-1{
        margin-left: 150px;
    }

    .desktop-responsive-2{
        flex-wrap: wrap;
        margin-right: 150px;
        
    }
    .button-container{
        justify-content: flex-start;
        margin-left: 150px;
        padding: 45px;
    
    }
    .title-second_section{
        margin-left: 180px;
    }
}