<header class="header">
    
    <div class="header__container"> 
        
        <span class="header__logo">AdaDev</span>

        <button class="header__menu-btn" aria-label="Abrir menú">
            <img src="./images/Menu-burguesa.png" alt="Menú hamburguesa">
        </button>

        <nav class="header__nav">
            <ul class="header__list">
                <li><a href="#" class="header__link is-active">Home</a></li>
                <li><a href="#" class="header__link">Nosotros</a></li>
                <li><a href="#" class="header__link">Blog</a></li>
                <li><a href="#" class="header__link">Servicios</a></li>
            </ul>

            <a href="#" class="header__btn">
            Contáctanos ➞ <i class="fa-solid fa-arrow-right"></i>
            </a>
        </nav>
    </div>
</header>
