<header class="header">
  <div class="header__container">
    <span class="header__logo"
      ><a class="header__logo" href="index.html">AdaDev</a></span
    >

    <a href="page-contact.html" class="header__menu-btn"
      ><img src="./images/Menu-burguesa.png" alt="Menú hamburguesa"
    /></a>

    <nav class="header__nav">
      <ul class="header__list">
        <li><a href="index.html" class="header__link is-active">Home</a></li>
        <li><a href="about-us.html" class="header__link">Nosotros</a></li>
        <li><a href="#" class="header__link">Blog</a></li>
        <li><a href="#" class="header__link">Servicios</a></li>
      </ul>

      <a class="header__btn" href="page-contact.html">Contáctanos ➞ </a>
    </nav>
  </div>
</header>
