<section class="news">
    <div class="news-container">
        <h3 class="header-news">Noticias</h3>
        <div class="news-all">
            <div class="first-news">
                <img src="./images/8.png" alt="Noticia1"/>
                <div class="text-item"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></div>
            </div>
            <div class="second-news">
                <img src="./images/6.png" alt="Noticia2"/>
                <div class="text-item"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></div>
            </div>
            <div class="third-news">
                <img src="./images/7.png" alt="Noticia3"/>
                <div class="text-item"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></div>
            </div>
        </div>
        <div class="button-news"> <button>Explora noticias</button></div>
    </div>
</section>