<section-2>

    <div class="section-2-background-colour">

      <div class="title--section-2">
        <h2 class="title-section-2">Proyectos</h2>
      </div>

    
      <div class="image--container">
         <img src="./images/10.png" alt="imagen de BLVCK">
      </div>
      <div class="text--cotainer">
         <p class="text-BLVCK">BLVCK</p>
         <p class="text-branding">Branding</p>
      </div>

      <div class="image--container">
         <img src="#" alt="imagen de Cream">
      </div>
      <div class="text--cotainer">
         <p>CREAM</p>
         <p>Branding</p>
      </div>

      <div class="image--container">
         <img src="#" alt="imagen de Fredi">
      </div>
      <div class="text--cotainer">
        <p>FREDI</p>
        <p>Branding</p>
      </div>

      <div class="image--container">
        <img src="#" alt="imagen de Apollo">
      </div>
      <div class="text--cotainer">
        <p>APOLLO</p>
        <p>Branding</p>
      </div>

      <div class="button">
        <button>Explora nuestros servicios</button>
      </div>

    </div>

</section-2>


