<section class="second_section">
  <h2 class="title-second_section">PROYECTOS</h2>

  <div class="container_second_section">

    <div class="desktop-responsive-1">
      <div class="article">
        <div class="image--container">
          <img src="./images/10.png" alt="imagen de BLVCK">
        </div>
        <div class="text-container_second_section">
          <p class="text_second_section">BLVCK</p>
          <p class="text-branding">Branding</p>
        </div>
     </div>
    
    
  
      <div class="article">
        <div class="image--container">
          <img src="./images/5.png" alt="imagen de Cream">
        </div>
        <div class="text-container_second_section">
          <p class="text_second_section">CREAM</p>
          <p class="text-branding">Branding</p>
        </div>
      </div>  
    </div>

  <div class="desktop-responsive-2">
      <div class="article">
        <div class="image--container">
          <img src="./images/11.png" alt="imagen de Fredi">
        </div>
        <div class="text-container_second_section">
          <p class="text_second_section">FREDI</p>
          <p class="text-branding">Branding</p>
        </div>
      </div> 

      <div class="article">
        <div class="image--container">
          <img src="./images/9.png" alt="imagen de Apollo">
        </div>
        <div class="text-container_second_section">
          <p class="text_second_section">APOLLO</p>
          <p class="text-branding">Branding</p>
        </div>
      </div>
  </div>
</div>


    <div class="button-container">
      <button>Explora nuestros servicios</button>
    </div>


    
  

  

</section>