<section class="first_section">
    <h2 class="first-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h1>
    <div class="first_general_container">
        <div class="container-program">
            <img src="./images/2.png" alt="dibujo de un ordenador" class="image_program">
            <h3 class="second_title_first-section">Programación</h1>
            <p class="paragraph_first-section">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="link_first-section" href="">Leer más</a>  
        </div>
        <div class="container-marketing">
            <img src="./images/3.png" alt="dibujo curva exponencial" class="image_marketing">
            <h3 class="second_title_first-section">Marketing</h1>
            <p class="paragraph_first-section">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lobortis luctus lacus. Nunc porta ipsum et tempor euismod.</p>
            <a class="link_first-section" href="">Leer más</a>
        </div>
        <div class="container-design">
            <img src="./images/1.png" alt="dibujo pluma" class="image_design">
            <h3 class="second_title_first-section">Design</h1>
            <p class="paragraph_first-section">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lobortis luctus lacus. Nunc porta ipsum et tempor euismod.</p>
            <a class="link_first-section" href="">Leer más</a>
        </div>
    </div>
</section>
