<div class="first_section">
    <div class="container-program">
        <img src="./images/2.png" alt="dibujo de un ordenador" class="image_program">
        <h1 class="title_first-section">Programación</h1>
        <a class="link_first-section" href="">Leer más</a>
    </div>
    <div class="container-marketing">
        <img src="./images/3.png" alt="dibujo curva exponencial" class="image_marketing">
        <h1 class="title_first-section">Marketing</h1>
        <a class="link_first-section" href="">Leer más</a>
    </div>
    <div class="container-design">
        <img src="./images/1.png" alt="dibujo pluma" class="image_design">
        <h1 class="title_first-section">Design</h1>
        <a class="link_first-section" href="">Leer más</a>
    </div>
</div>
